<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <title>right &rarr; right - 右は正義-</title>
  </head>
  <body>
    <%- include('_header') %>
    <%- include('_top') %>
    <%- include('_about') %>
    <%- include('_howto') %>
    <%- include('_characters') %>
    <%- include('_stages') %>
    <%- include('_distribution') %>
    <%- include('_credit') %>
  </body>
</html>
